In [3]:
%matplotlib inline
from copy import deepcopy
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
sns.set()#for plot styling
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize']=(16,9)
plt.style.use('ggplot')
#import the dataset
data=pd.read_csv('Datasets/movie_metadata1.csv')
print(data.shape)
print(data.head)

(5043, 28)
<bound method NDFrame.head of       color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                     723       178
1     Color     Gore Verbinski                     302       169
2     Color         Sam Mendes                     602       148
3     Color  Christopher Nolan                     813       164
4        49        Doug Walker                      49        49
...     ...                ...                     ...       ...
5038  Color        Scott Smith                       1        87
5039  Color                 49                      43        43
5040  Color   Benjamin Roberds                      13        76
5041  Color        Daniel Hsia                      14       100
5042  Color           Jon Gunn                      43        90

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                           0                     855  Joel David Moore
1                         563                    1000     Orlando Bloom
2                           0                     161      Rory Kinnear
3                       22000                   23000    Christian Bale
4                         131                      49        Rob Walker
...                       ...                     ...               ...
5038                        2                     318     Daphne Zuniga
5039                       49                     319     Valorie Curry
5040                        0                       0     Maxwell Moody
5041                        0                     489     Daniel Henney
5042                       16                      16  Brian Herzlinger

      actor_1_facebook_likes      gross                           genres  ...  \
0                       1000  760505847  Action|Adventure|Fantasy|Sci-Fi  ...
1                      40000  309404152         Action|Adventure|Fantasy  ...
2                      11000  200074175        Action|Adventure|Thriller  ...
3                      27000  448130642                  Action|Thriller  ...
4                        131         49                      Documentary  ...
...                      ...        ...                              ...  ...
5038                     637         49                     Comedy|Drama  ...
5039                     841         49     Crime|Drama|Mystery|Thriller  ...
5040                       0         49            Drama|Horror|Thriller  ...
5041                     946      10443             Comedy|Drama|Romance  ...
5042                      86      85222                      Documentary  ...

     num_user_for_reviews language  country  content_rating     budget  \
0                    3054  English      USA           PG-13  237000000
1                    1238  English      USA           PG-13  300000000
2                     994  English       UK           PG-13  245000000
3                    2701  English      USA           PG-13  250000000
4                      49       49       49              49         49
...                   ...      ...      ...             ...        ...
5038                    6  English   Canada              49         49
5039                  359  English      USA           TV-14         49
5040                    3  English      USA              49       1400
5041                    9  English      USA           PG-13         49
5042                   84  English      USA              PG       1100

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0           2009                    936        7.9          1.78
1           2007                   5000        7.1          2.35
2           2015                    393        6.8          2.35
3           2012                  23000        8.5          2.35
4             49                     12        7.1         49.00
...          ...                    ...        ...           ...
5038        2013                    470        7.7         49.00
5039          49                    593        7.5         16.00
5040        2013                      0        6.3         49.00
5041        2012                    719        6.3          2.35
5042        2004                     23        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
4                       0
...                   ...
5038                   84
5039                32000
5040                   16
5041                  660
5042                  456

[5043 rows x 28 columns]>

In [5]:
data['director_facebook_likes']

0           0
1         563
2           0
3       22000
4         131
        ...
5038        2
5039       49
5040        0
5041        0
5042       16
Name: director_facebook_likes, Length: 5043, dtype: int64

In [7]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [9]:
newdata=data.iloc[:,4:6]
newdata

      director_facebook_likes  actor_3_facebook_likes
0                           0                     855
1                         563                    1000
2                           0                     161
3                       22000                   23000
4                         131                      49
...                       ...                     ...
5038                        2                     318
5039                       49                     319
5040                        0                       0
5041                        0                     489
5042                       16                      16

[5043 rows x 2 columns]

In [11]:
from sklearn.cluster import Kmeans

ImportError: cannot import name 'Kmeans' from 'sklearn.cluster' (C:\Users\azart\anaconda3\lib\site-packages\sklearn\cluster\__init__.py)